<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167020211325-nbikb72eh7i2n360p06ntpt09ui9ur1q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167020211325-nbikb72eh7i2n360p06ntpt09ui9ur1q</string>
	<key>API_KEY</key>
	<string>AIzaSyBtxhjoZHBPfnjz4Sl4ryaOTsOboZQyR08</string>
	<key>GCM_SENDER_ID</key>
	<string>167020211325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Roy.com.MangoPlateCloneApp</string>
	<key>PROJECT_ID</key>
	<string>mangoplate-68a06</string>
	<key>STORAGE_BUCKET</key>
	<string>mangoplate-68a06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167020211325:ios:cc7f5b60b74d07b2739514</string>
</dict>
</plist>